<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flagcamp.donationcollector">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".signin.ChooserActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signin.GoogleSignInActivity"
            android:label="@string/name_sign_in_activity"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity" />
        <activity
            android:name=".signin.PasswordSignInActivity"
            android:label="@string/label_emailpassword"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".main.UserActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".main.NgoActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>